* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: tomato;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  border: 5px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

button:hover {
  background-color: blueviolet;
}
button:active {
  background-color: darkmagenta;
}

#btn-add-note,
#btn-save {
  width: 100px;
  height: 100px;
  background-color: violet;
  border: 5px solid black;
  border-radius: 5px;
  margin: 1rem;
}

#btn-add-note:hover,
#btn-save:hover {
  background-color: blueviolet;
}
#btn-add-note:active,
#btn-save:active {
  background-color: darkmagenta;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
  max-width: 350px;
  border: 5px solid black;
  border-radius: 5px;
  margin: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-trash {
  background-color: chartreuse;
  border: 2px solid blueviolet;
  margin: 0.5rem;
}

label {
  text-align: center;
  background-color: aquamarine;
  border: 2px solid black;
}

textarea {
  font-family: monospace;
  background-color: antiquewhite;
  
}

.container-title {
  display: flex;
  flex-direction: column;
}

.container-content {
  display: flex;
  flex-direction: column;
}